#loginBox {
    margin: 0 auto;
    margin-top: 10%;
    width: 25%;
    height: 60rem;
    border: solid 1px #E3DDD9;
    text-align: center;
    background-color: #E9E5E2;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.10);
}

.formContainer {
    margin-top: 50%;
}

.formContainer input {
    width: 60%;
    margin: 2rem;
    border-bottom: 2px #ADADAD solid;
    padding: 1rem;
    color: #999999;
    font-family: 'Literata';
}

.formContainer button {
    width: 50%;
    margin: 2rem;
    margin-top: 30%;
    font-family: 'Literata';
    border-radius: 25px;
    background-color: #D9D9D9;
    height: 5rem;
}