html {
  font-size: 0.5em;
}

body {
  background-color: #FFFFFF;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.ttf");
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
}

#title-bar {
  min-width: 100rem;
}

#title-bar-header {
  border: 1px solid black;
}

#title-bar button {
  font-family: "Pretendard";
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  margin: 1.5rem;
}

#title-bar .title-left {
  width: 70%;
  text-align: left;
  display: inline-block;
  font-size: 2rem;
}

#title-bar .title-right {
  width: 30%;
  text-align: right;
  display: inline-block;
}

#side-bar {
  width: 15%;
  min-width: 25rem;
  height: 100vh;
  background-color: #FFFFFF;
}

#side-bar-title {
  font-family: "Pretendard";
  text-align: center;
  font-size: 4rem;
  color: #503737;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#side-bar-title a {
  color: #503737;
}

.main-area {
  width: 85%;
}

.flex-area {
  display: flex;
  height: 100%;
}

.side-bar-contents {
  margin: 10px;
  color: #7C7C7C;
  font-size: 2.5rem;
  font-family: "Pretendard";
  padding: 0 10% 0 10%;
  font-weight: 600;
}

.border-line {
  border: 1px solid #B7B7B7;
  width: 80%;
  height: 0px;
  margin: 20px auto;
}

.side-bar-ul {
  list-style-type: none;
  padding: 0 10% 0 10%;
}

.side-bar-ul li {
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.side-bar-ul li a {
  color: #7C7C7C;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: "Pretendard";
}

.side-bar-ul li a:active {
  color: black;
}

.whiteButton {
  display: inline-block;
  background-color: #FFFFFF;
  color: black;
  font-weight: 600;
  border: 0.25rem solid #343333;
  border-radius: 4rem;
  width: 20%;
  height: 7rem;
  font-size: 3rem;
}

.purpleButton {
  display: inline-block;
  color: white;
  background-color: #8C61E3;
  font-weight: 600;
  border: 0.25rem solid #8C61E3;
  border-radius: 4rem;
  width: 20%;
  height: 7rem;
  font-size: 3rem;
  margin-left: 2rem;
}

.requiredField::after {
  content: "*";
  color: #8C61E3;
}