html {
  font-size: 0.625em;
}

body {
  background-color: #F2F2F2;
}

@font-face {
  font-family: "Lily Script One";
  src: url("./fonts/LilyScriptOne-Regular.ttf");
}

@font-face {
  font-family: "Literata";
  src: url("./fonts/Literata-VariableFont_opsz\,wght.ttf");
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  background-color: transparent;
}

#title-bar {
  text-align: right;
  min-width: 100rem;
}

#title-bar button {
  font-family: "Literata";
  font-size: 2rem;
  color: #BD8585;
  background-color: transparent;
  border: 0;
  margin: 15px;
}

#title-bar a {
  color: #BD8585;
}

#side-bar {
  width: 15%;
  min-width: 25rem;
  height: 100vh;
  background-color: #D9D9D9;
}

#side-bar-title {
  font-family: "Lily Script One";
  text-align: center;
  font-size: 4rem;
  color: #503737;
  padding-top: 30px;
  padding-bottom: 30px;
}

#side-bar-title a {
  color: #503737;
}

.main-area {
  width: 85%;
}

.flex-area {
  display: flex;
  height: 100%;
}

.side-bar-ul {
  list-style-type: none;
  padding: 0 10% 0 10%;
}

.side-bar-ul li {
  margin: 10px;
  color: #BD8585;
  font-size: 2.5rem;
  font-family: "Literata";
}

